<div class="container mt-4 animate__animated {{slide}}">
    <h3>🎧 Elige tu estado de ánimo</h3>

    <div class="btn-group my-3" role="group">
        <button ng-repeat="estado in estados"
                ng-click="seleccionarEstado(estado)"
                class="btn btn-outline-primary mx-1 while-waiting">
            {{ "{{ estado }}" }}
        </button>
    </div>

    <div class="mt-4" ng-if="playlistRecomendada">
        <h5>🎵 Playlist recomendada:</h5>
        <p><b>{{ "{{ playlistRecomendada.nombre }}" }}</b></p>
        <p>{{ "{{ playlistRecomendada.descripcion }}" }}</p>
        <a ng-href="{{ "{{ playlistRecomendada.url }}" }}" target="_blank" class="btn btn-success">
            Abrir en Spotify
        </a>
    </div>
</div>
