<div class="card text-bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header">Sesión</div>
    <div class="card-body">
        <h5 class="card-title">Información</h5>
        <p class="card-text">
            <b>Tipo: </b> {{ "{{ SesionService.getTipo() }}" }}
            <b> Usuario: </b> {{ "{{ SesionService.getUsr() }}" }}
        </p>
    </div>
</div>
<form id="frmProducto" method="post">
    <div class="mb-1">
        <label>Nombre</label>
        <input type="text" class="form-control while-waiting" id="txtNombre" name="txtNombre">
    </div>
    <div class="mb-1">
        <label>Precio</label>
        <input type="text" class="form-control while-waiting" id="txtPrecio" name="txtPrecio">
    </div>
    <div class="mb-1">
        <label>Existencias</label>
        <input type="text" class="form-control while-waiting" id="txtExistencias" name="txtExistencias">
    </div>
    <div class="mb-1 text-end">
        <button class="btn btn-primary while-waiting">Guardar</button>
    </div>
</form>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="chkActualizarAutoTbodyProductos">
    <label class="form-check-label" for="chkActualizarAutoTbodyProductos">
        Actualizar cuando haya cambios
    </label>
</div>


<div class="row">
    <div class="col-12 col-sm-12 col-lg-12 col-xl-6 col-xxl-6">
        <div class="shadow shadow-lg p-3 mb-2">
            <h5>{{ "{{ categoriaGalletas.titulo }}" }}</h5>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3" ng-repeat="producto in categoriaGalletas.productos">
                    <div class="card text-bg-info mb-3">
                        <div class="card-header">Producto</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ "{{ producto.Nombre_Producto }}" }}</h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-lg-12 col-xl-6 col-xxl-6">
        <div class="shadow shadow-lg p-3 mb-2">
            <h5>{{ "{{ categoriaRefrescos.titulo }}" }}</h5>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3" ng-repeat="producto in categoriaRefrescos.productos">
                    <div class="card text-bg-warning mb-3">
                        <div class="card-header">Producto</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ "{{ producto.Nombre_Producto }}" }}</h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="table-responsive">
    <table class="table table-sm">
        <thead class="table-active">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Existencias</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbodyProductos"></tbody>
    </table>
</div>

<div class="div-to-complete-screen"></div>
